.absolute {
  position: absolute;
}
.port-navbar-diff{
  background-color: #27ae60;
  position: fixed;
  z-index: 99999;
}

// HEADER
.port-navbar.port-default {
  width: 100%;
  z-index: 15;
  padding: 0 40px;
  max-height: 125px;
  height: 100vh;

  .port-navbar {
    &-brand {
      color: white;
      font-size: 24px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: bold;
    }

    &-item {
      margin-left: 10px;
      margin-right: 10px;
      cursor: pointer;
    }

    &-link {
      color: #ffffff !important;
      font-weight: bold;
      letter-spacing: 0.8px;
      font-size: 18px;
      text-transform: uppercase;

      &.active {
        color: #dba919 !important;
      }

      &:hover,
      &:focus {
        color: #dba919 !important;
      }
    }
  }
}

.gradient-border {
  --border-width: 3px;
  position: relative;
  border-radius: var(--border-width);

  &::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
      60deg,
      hsl(224, 85%, 66%),
      hsl(269, 85%, 66%),
      hsl(314, 85%, 66%),
      hsl(359, 85%, 66%),
      hsl(44, 85%, 66%),
      hsl(89, 85%, 66%),
      hsl(134, 85%, 66%),
      hsl(179, 85%, 66%)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}
